<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign-UP</title>
    <link rel="stylesheet" href="css/master.css">

  </head>
  <body>
    <h1>Sign-up page</h1>
    <form action="/sign-up" method="post">
      <p>Email: <input type="email" name="email" value=""></p>
      <br>
      <p>Password: <input type="password" name="password"></p>

      <p>
        <input type="submit" name="" value="SIGN-UP">
      </p>
    </form>
  </body>
</html>
